.icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-white-500);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.auth {
    position: relative;
}