.track {
    margin-top: 30px;
}

.track__title {
    color: var(--color-white);
}

.track__header {
    margin-bottom: 20px;
}

.track__slider {
    padding: 0 20px;
}

.track__slider-arrow {
    background: none;
}

.track__slider-arrow svg {
    fill: var(--color-gray);
    width: 4rem;
    height: 4rem;
}

.track__slider-arrow:disabled {
    display: none;
}

.track__slider-arrow:first-child {
    left: -4vw;
}

.track__slider-arrow:last-child {
    right: -4vw;
}