.list {
  display: flex;
  gap: 1.6rem;
}

.item {
    padding: 25px 0;
}

.item:hover .link {
  color: var(--color-white);
}

@media screen and (max-width: 992px) {
  .list {
    display: none;
  }
}
