.slider__arrow {
    background: none;
}
.slider__arrow svg {
    fill: var(--color-gray);
    width: 4rem;
    height: 4rem;
}

.slider__arrow:first-child {
    left: clamp(10px,2.6vw, 50px);
}

.slider__arrow:last-child {
    right: clamp(10px,2.6vw, 50px);
}