.header {
  padding: 10px 0;
}

.header__nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  column-gap: 3rem;
}

.header__list {
  display: flex;
  gap: 1.6rem;
}

.header__link:hover {
  color: var(--color-white);
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 20px;
}



.header__form-label {
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.header__form-input {
  display: none;
}

.header__form-label:hover {
  color: var(--color-white);
}

.header__form-label:hover svg {
  fill: var(--color-white);
}

@media screen and (max-width: 992px) {
  .header__list {
    display: none;
  }
  .header__profile {
    margin-left: auto;
  }
}

@media screen and (max-width: 576px) {
  .header__nav {
    column-gap: 0;
  }

  .header__form {
    display: none;
  }

  .header__profile-btn {
    background: var(--color-purple);
  }
}
