.movie {
  padding-bottom: 100px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.genre {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.genre:not(:last-child)::after {
  content: "";
  width: 3px;
  height: 3px;
  background: var(--color-gray);
  display: inline-block;
}

.body {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.content {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  text-align: center;
  color: var(--color-white);
}

.info {
  display: flex;
  gap: 1.5rem;
}

.rating {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-green);
  color: var(--color-white);
  cursor: pointer;
}
.rating::before {
  content: "";
  width: 125%;
  height: 125%;
  position: absolute;
  background: var(--color-white-150);
  border-radius: 10px;
  transition: 0.4s;
  margin: auto;
  z-index: -1;
}

.rating:hover::before {
  background: var(--color-white-300);
}

.img {
  position: relative;
}

.img img {
  width: 100%;
}

.img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-black-300);
}

@media screen and (max-width: 768px) {
  .body {
    grid-template-columns: 1fr;
    row-gap: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .content {
    padding: 0 5%;
    gap: 1rem;
  }
}
