.header {
  position: relative;
}

.nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  align-items: center;
  column-gap: 3rem;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 576px) {
  .nav {
    column-gap: 0;
  }
}
