@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: var(--color-body);
  color: var(--color-gray);
  font-size: 1.6rem;
}

body.lock {
  overflow: hidden;
}

:root {
  --color-body: rgb(16, 13, 25);
  --color-white: #fff;
  --color-white-500: rgba(255, 255, 255, 0.5);
  --color-white-150: rgb(255,255,255,0.15);
  --color-white-300: rgb(255,255,255,0.30);
  --color-gray: hsl(254deg 10% 66%);
  --color-red: hsl(344deg 100% 46%);
  --color-purple: hsl(254deg 23% 18%);
  --color-black-800: rgb(0,0,0,0.8);
  --color-black-950: rgb(0,0,0,0.95);
  --color-black-300: rgb(0,0,0,0.3);

  --color-green: hsl(85deg 55% 41%);
  
  /* --color-purple-hover: hsl(254deg 23% 22%); */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white-500);
  transition: 0.4s;
}

button {
  border: 0;
  background: none;
  color: var(--color-gray);
  cursor: pointer;
}

button:focus,
button:focus-visible {
  /* remove styles from splide.css */
  outline: 0 !important;
}

picture {
  height: 100%;
}

svg {
  width: 16px;
  height: 16px;
  fill: var(--color-gray);
  vertical-align: middle;
  transition: 0.4s;
}

.container {
  max-width: 1245px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.btn {
  border-radius: 8px;
  padding: 7px 11px;
}

.btn--red {
  background: var(--color-red);
  color: var(--color-white);
}